
@import url('fuentes.css');
#baseJuego  {
  width: 80%;
  height: 680px;
  min-width: 1125px;
  background-color: #000;
  position: absolute;
  }

  #contenedor {
    color: #fff;
  }

.score  {
  font-family: arcade;
  color: white;
  font-size: 35px;
  float: left;
  padding-right: 20px;
}
#Hscore {
  padding-left: 250px;
}
#scoreMenu{
	position:absolute;
	padding-left: 200px;
}

p{
	color:white;
}
 .aliens {
  width: 30px;
  height: 30px;
  float: left;
  padding-right: 50px;
}
.aliens img {
  width: 30px;
  height: 30px;
}
#primerA {
  position: absolute;
  left: 100px;
  top: 160px;
}

#segundoA {
  position: absolute;
  left: 440px;
  top: 160px;
}

#tercerA {
  position: absolute;
  left: 780px;
  top: 160px;
}

#primerB {
  position: absolute;
  left: 100px;
  top: 210px;
}

#segundoB {
  position: absolute;
  left: 440px;
  top: 210px;
}

#tercerB {
  position: absolute;
  left: 780px;
  top: 210px;
}

#primerC {
  position: absolute;
  left: 100px;
  top: 260px;
}

#segundoC {
  position: absolute;
  left: 440px;
  top: 260px;
}

#tercerC {
  position: absolute;
  left: 780px;
  top: 260px;
}

#primerD {
  position: absolute;
  left: 100px;
  top: 310px;
}

#segundoD {
  position: absolute;
  left: 440px;
  top: 310px;
}

#tercerD {
  position: absolute;
  left: 780px;
  top: 310px;
}


.jugador  {
  width: 55;
  height: 35;
  position: absolute;
  left: 500px;
  top: 580px;
}

.jugador img  {
  width: 55px;
  height: 35px;
}

#bala {
  height: 5px;
  width: 5px;
  
  background-color: white;
  position: absolute;
  left: 500px;
  top: 580px;
}

#vida{
  position: absolute;
  left: 15px;
  top: 610px
}

#vida1{
	position: absolute;
 	padding-left: 15px;
  	top: 610px;
}

#vida2{
	position: absolute;
	padding-left:55px;
	top: 610px;
}

#vida3{
	position: absolute;
	padding-left:95px;
	top: 610px;
}

.vidas  {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 110px;
  top: 615px;
  float: left;
  padding-right: 20px;
}

.vidas img {
  width: 30px;
  height: 30px;
}

#xy {
  position: absolute;
  top: 615px;
  left: 300px;
  color: white;
}
#coordenadas {
  color: white;
  z-index: 5;
}

#pared{
	position: absolute;
 	left: 60px;
  	top: 240px;
}

#pared2{
	position: absolute;
	padding-left:150px;
	top: 240px;
}

#pared3{
	position: absolute;
	padding-left:105px;
	top: 210px;
}

#pared4{
	position: absolute;
 	padding-left: 400px;
  	top: 240px;
}

#pared5{
	position: absolute;
	padding-left:490px;
	top: 240px;
}

#pared6{
	position: absolute;
	padding-left:445px;
	top: 210px;
}

#pared7{
	position: absolute;
 	padding-left: 740px;
  	top: 240px;
}

#pared8{
	position: absolute;
	padding-left:830px;
	top: 240px;
}

#pared9{
	position: absolute;
	padding-left:785px;
	top: 210px;
}

 .pared {
  width: 100px;
  height: 30px;
  float: left;
  padding-right: 50px
}
.pared img {
  width: 95px;
  height: 30px;
}

.raqueta{
  width: 10px;
  height: 100px;
  float: left;
}

.pelota{
   width: 40px;
  height: 40px;
  float: left;
}

#pongPaddleIzquierda{
  position: absolute;
  left: 10px;
  top: 200px;
}

#pongPaddleDerecha{
  position: absolute;
  right: 10px;
  top: 100px;
}

#pongBall{
  position: absolute;
  left: 400px;
  top: 300px;
}
