
@import url('fuentes.css');
#baseJuego  {
  width: 80%;
  height: 680px;
  background-color: #000;
  position: absolute;
  }
.score  {
  font-family: arcade;
  color: white;
  font-size: 35px;
  float: left;
  padding-right: 20px;
}
#Hscore {
  padding-left: 160px;
}
 .aliens {
  width: 30px;
  height: 30px;
}
.aliens img {
  width: 30px;
  height: 30px;
}

.jugador  {
  width: 40px;
  height: 20px;
}

.jugador img  {
  width: 40px;
  height: 20px;

}

.vidas  {
  width: 30px;
  height: 30px;
}

.vidas img {
  width: 30px;
  height: 30px;
}
